.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #162447;
  height: 8em;
  top: 0;
  position: absolute;
  z-index: 10000;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.navbar-logo {
  font-size: 2em;
  letter-spacing: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #e43f5a;
  text-decoration: none;
  padding: 13px;
  cursor: pointer;
}
.navbar-logo:hover {
  color: #df8b99;
  font-size: 3em;
}
.navbar-link {
  letter-spacing: 2px;
  font-size: 2em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.navbar-link:hover {
  color: #8199b6;
  font-size: 2.5em;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: wheat;
  margin: 5px;
}

@media screen and (max-width: 1090px) {
  .navbar-link {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 815px) {
  body {
    overflow-x: hidden;
  }
  .links {
    background-color: #162447;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* transform: translateX(100%); */
    transition: transform 0.5s ease-in;
  }
  .navbar-link:hover {
    color: #8199b6;
    font-size: 1em;
    
  }

  .burger {
    display: block;
    cursor: pointer;
  }
  
  

  h1 {
    color: chartreuse;
    position: absolute;
    top: 150px;
    font-size: 50px;
  }
}


